.container{
    width: 60%;
    margin: auto;
    border-radius: 1rem;
    padding: .2rem;
    /* background: #f8f8f8; */
    margin-top: 1rem;
}

.memeImage{
    width: 100%;
    box-shadow:1px 1px 20px 0px darkgrey;
    border-radius: 1rem;
    height: 27rem;
    /* border: solid 1px grey; */
}

.imageContainer{
    width: 370px;
    margin: auto;
    position: relative;
    color: white;
}

/* .imageContainer::after{
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-color: chartreuse;
} */

.titleup{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0px;
    overflow-wrap: break-word;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black; /* width and color */
}

.titledown{
    position: absolute;
    bottom: 35px;
    overflow-wrap: break-word;
    margin: 0px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black; /* width and color */
}

.inputBox{
    margin: auto;
    width: 50%;
    display: block;
    margin-bottom: 1rem;
    padding: .3rem 0;
}