@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #D0D6F9;
  background-size: 400% 400%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}